<br><br>
  <?php if(isset($registro)): ?>
  <h4 class="red-text">Modificar Zombie</h4>
  <?php else: ?>    
  <h4 class="red-text">Registrar Zombie</h4>
  <?php endif; ?>
<br>
<div class="row">
  <form class="col s12" method="POST" action="guardarZombie.php">
    <div class="row">
      <div class="input-field col s7">
        <input name="nombre" id="nombre" oninput="sendRequest()" type="text" class="validate" value="<?php if(isset($registro)) echo $registro["nombre"]?>">
        <label for="nombre">Nombre Completo</label>
        <div id="ajaxResponse"></div>
      </div>
      <div class="input-field col s7">
      <?php if(isset($registro)): ?>
        <select name="est">
        <option value="<?php echo $registro[estado] ?>">
          <?php
            $zombies = ['Infección','Coma','Transformación','Completamente Muerto'];
            $num = $registro["estado"];

            echo "$zombies[$num]";

            if($num==3){
              $num=0;
            }
            else{
              $num++;
            } 
          ?>
        </option>
        <option value="<?php echo $num ?>">
          <?php

            echo "$zombies[$num]";

            if($num==3){
              $num=0;
            }
            else{
              $num++;
            } 
          ?>
        </option>
        <option value="<?php echo $num ?>">
          <?php

            echo "$zombies[$num]";

            if($num==3){
              $num=0;
            }
            else{
              $num++;
            } 
          ?>
        </option>
        <option value="<?php echo $num ?>">
          <?php
            echo "$zombies[$num]";
          ?>
        </option>
      <?php else: ?>
          <select name="estado">
          <option value="-1" disabled selected>Elige una opción</option>
          <option value="0">Infección</option>
          <option value="1">Coma</option>
          <option value="2">Transformación</option>
          <option value="3">Completamente Muerto</option>
      <?php endif; ?>

        </select>
        <label>Estado del Zombie</label>
      </div>
    </div>
      <?php if(isset($registro)): ?>
          <input name="fecha" type="hidden" value="<?=$registro["fechaC"];?>">
      <?php else: ?>
       <?php endif; ?>
    <div class="row">
      <div class="col s12 l2">
        <input type="submit" value="<?php if(isset($registro)): ?>Guardar<?php else: ?>Registrar<?php endif;?>">
      </div>
    </div>
  </form>
</div>
