<br><br>
<h5 class="red-text">LISTA DE ZOMBIES</h5>
<br>
<div class="row">
	<div class="col l3">
		<a class="btn-floating btn-large waves-effect waves-light red" href="agregarZombie.php"><i class="material-icons">add</i></a>	
	</div>
	<div class="col l3">
		<a class="btn-large waves-effect waves-light red" href="index.php?ordenar=true">Ordenar por Fecha</a>
	</div>
	<form method="POST" action="index.php?estado=true">
	<div class="input-field col l4">
	    <select name="estado">
          <option value="0">Infección</option>
          <option value="1">Coma</option>
          <option value="2">Transformación</option>
          <option value="3">Completamente Muerto</option>
	    </select>
	    <label>Buscar por estado</label>
  </div>
  	<div class="col s12 l2">
    	<input type="submit" value="Buscar" class="btn-large">
  	</div>
	</form>
</div>
<br><br>
