<div class="row">
	<form method="POST" action="guardar.php">
		<div class="input-field col s6 l12">
	      <input id="first_name" name="nombre" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["nombre"]?>" >
	      <label for="nombre">Nombre</label>
	    </div>
	    <div class="input-field col s6 l12">
	      <input id="first_name" name="telefono" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["telefono"]?>">
	      <label for="telefono">Teléfono</label>
	    </div>
	    <div class="input-field col s6 l12">
	    <?php if(isset($registro)): ?>
            <input name="mat" id="mat" type="hidden" value="<?=$registro["matricula"];?>">
    	<?php else: ?>
	      <input id="first_name" name="matricula" type="text" class="validate" required>
	      <label for="matricula">Matrícula</label>
	     <?php endif; ?>
	    </div>
	    <div class="input-field col s6 l12">
	      <input id="escuela" onkeypress="sendRequest()" name="escuela" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["escuela"]?>">
	      <label for="escuela">Escuela</label>
	      <div id="ajaxResponse"></div>
	    </div>
	   	<div class="row">
        <div class="input-field col s12">
          <input class="waves-effect waves-light btn" type="submit" value="<?php if(isset($registro)): ?>Guardar<?php else: ?>Registrar<?php endif;?>">
        </div>
      </div>
    </form>
</div>