.all
{
	margin-left: 150px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 150px;
	font-family: sans-serif;
}

p,li
{
	color:rgb(0,100,255);
}

body
{
	background-color: rgb(255,255,150);
}

strong,h2,h3,h4
{
	color: rgb(100,100,200);
}

table
{
	width: 40%;
	text-align: center;
}

.title
{
	background-color: rgb(150,150,150);
}

td,th
{
	padding: 12px;
}

tr
{
	background-color: rgb(100,100,200);
}

.title th:hover
{
	background-color: rgb(220,220,0);
}

td:hover
{
	background-color: rgb(220,220,0);
}